---
import { Button } from "@/components/ui/button";

import { getMenuItemsByLocale, matchPath } from "@/lib/utils";

const pathname = new URL(Astro.request.url).pathname;
const pathname_part = pathname.split("/")[1];

const locale = Astro.currentLocale;
const menuItems = getMenuItemsByLocale(locale);
---

<div class="flex gap-4 justify-end flex-1">
  {
    menuItems.map((item) => (
      <a href={item.href}>
        <Button
          variant="link"
          key={item.href}
          className={
            matchPath(pathname, item.href)
              ? "text-foreground"
              : "text-muted-foreground"
          }
          client:load
        >
          {item.title}
        </Button>
      </a>
    ))
  }
</div>
