---
import HeadSEO from "@/components/core/HeadSEO.astro";
import Header from "@/components/core/Header.astro";
import Footer from "@/components/core/Footer.astro";

import type { BaseLayoutProps } from "@/lib/types";

import Background from "@/components/Background";
import { getLocaleInfo } from "@/i18n/utils";
import { DEFAULT_LOCALE } from "@/i18n/config";
import { SITE } from "@/config";

const { title, description, ogImage } = Astro.props as BaseLayoutProps;

const locale = Astro.currentLocale;
const langTag = getLocaleInfo(locale ?? DEFAULT_LOCALE).langTag;
---

<!doctype html>
<html lang=`${langTag}` class="scroll-smooth">
  <head>
    <HeadSEO
      title={`${title ? title : SITE.title}`}
      description={description}
      ogImage={ogImage}
    />
  </head>
  <body class="bg-background text-foreground font-sans">
    <div class="flex flex-col min-h-dvh">
      {/* Dynamic Background */}
      <Background />

      {/* Main Layout */}
      <div class="flex flex-col flex-1">
        <Header />

        <main class="flex-1 flex flex-col">
          <slot />
        </main>

        <Footer />
      </div>
    </div>
  </body>
</html>
